{erl_opts, [debug_info]}.
{deps, [
		{cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.6.0"}}},
		{mysql, ".*", {git, "https://github.com/mysql-otp/mysql-otp", {tag, "1.7.0"}}},
		{bcrypt, {git, "https://github.com/abhay/erlang-bcrypt"}},
		{jiffy, {git, "https://github.com/davisp/jiffy"}}
	   ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [authserver]}
]}.
